<app-nav></app-nav>
<div class="main-content bg-dark">
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-light shadow border-0 row mt-5">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-3">
                            <img src="./assets/img/logotipo.png" width="20%" height="20%" /> 
                        </div>
                        <h2 class="text-black text-center">JuriTech</h2>
                        <h3 class="text-muted text-center">REGISTO</h3>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <form>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                    </div>
                                    <input input type="text" placeholder="Nome" name="Nome" id="nome" class="form-control" [(ngModel)]="UsersOBJ.nome" required>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                                    </div>
                                    <input input type="text" placeholder="Email" name="Email" id="email" class="form-control" [(ngModel)]="UsersOBJ.email" required>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                                    </div>
                                    <input input type="password" placeholder="Nova Palavra-Passe" name="Password" id="password" class="form-control" [(ngModel)]="UsersOBJ.password" required>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                                    </div>
                                    <input input type="password" placeholder="Confirmar Palavra-Passe" name="confirmPw" id="confirmPw" class="form-control" [(ngModel)]="UsersOBJ.confirmPw" required>
                                </div>
                            </div>
                            <div class="custom-control custom-control-alternative custom-checkbox">
                                <input class="custom-control-input" id="terms" name="terms" type="checkbox">
                                <label class="custom-control-label" for=" customCheckLogin">
                                    <span class="text-black">Concordo com a <a routerLink="/login" target="_blank">Política de Privacidade</a>.</span>
                                </label>
                            </div>
                            <div  class="text-center">
                                <button type="submit" class="btn btn-primary my-4" (click) = "register()">Criar Conta</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <a routerLink="/login" class="text-light"><small><u>Já possuo uma conta</u></small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>