<div class="divider">
    <app-sidebar></app-sidebar>
    <div class="container border px-5 my-5 bg-dark bg-gradient">
        <br>
        <h1 class="text-info">Criar Processo</h1>
        <form class="my-5">
            <div class="form-floating mb-3">
                <input class="form-control" id="numeroDoProcesso" type="text" placeholder="Número do Processo" [(ngModel)]="ProcessoOBJ.nrProcesso" [ngModelOptions]="{standalone: true}" required>
                <label for="numeroDoProceso">Número do Processo</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="nomeDoProcesso" type="text" placeholder="Nome do Processo" [(ngModel)]="ProcessoOBJ.nome" [ngModelOptions]="{standalone: true}" required>
                <label for="nomeDoProcesso">Nome do Processo</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-control form-select" [(ngModel)]="ProcessoOBJ.idTipo" (change)="validaTipoProcesso(ProcessoOBJ.idTipo)" id="idTipo" name="idTipo">
                    <option *ngFor="let t of tipoProcesso" value="{{t.id}}">{{t.nome}}</option>
                </select>
                <label>Tipo do Processo</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="valor" type="text" placeholder="Valor" [(ngModel)]="ProcessoOBJ.valor" [ngModelOptions]="{standalone: true}" required>
                <label for="valor">Valor</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="notas" type="text" placeholder="Notas" [(ngModel)]="ProcessoOBJ.notas" [ngModelOptions]="{standalone: true}" required>
                <label for="notas">Notas</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="dataEntrada" type="date" placeholder="DataEntrada" [(ngModel)]="ProcessoOBJ.dataEntrada" [ngModelOptions]="{standalone: true}" required>
                <label for="dataEntrada">DataEntrada</label>
            </div>
            <div class="mb-3">
                <label class="form-label d-block"></label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input check-space" id="estado" type="checkbox" [(ngModel)]="ProcessoOBJ.estado" [ngModelOptions]="{standalone: true}" required>
                    <label class="form-check-label text-white h4" for="estado">Estado</label>
                </div>
            </div>
            <div class="d-grid">
                <br><br>
                <button class="btn bg-success " id="createButton" type="submit" (click) = "postProcesso()">Criar</button>
                <br>
                <button class="btn bg-danger" id="cancelButton" (click) = "cancel()">Cancelar</button>
            </div>
        </form>
    </div> 
</div>