<div class="divider">
    <app-sidebar></app-sidebar>
    <div class="p-4">
        <div class="row">
            <div class="col-7">
                <h1 class="text-info">Artigos</h1><br>
            </div>
            <div class="container">
                <div class="row-1">
                    <div class="col-3">
                        <a routerLink="/criar-artigo" class="btn btn-info text-white bg-success"><i class="bi bi-plus"></i>Novo Artigo</a>
                    </div>
                </div>
                <hr>
                <form>
                    <div class="form-floating mb-3 text-white smallInput">
                        <select class="form-control form-select bg-primary text-white" [(ngModel)]="ArtigoOBJ.idCodigo" (change)="validaCodigo(ArtigoOBJ.idCodigo)" id="idCodigo" name="idCodigo">
                            <option selected value="0">#######</option>
                            <option *ngFor="let c of codigo" value="{{c.id}}">{{c.nome}}</option>
                        </select>
                        <label>Código</label>
                    </div>
                    <div class="form-floating mb-3 text-white-50 smallInput">
                        <input class="form-control bg-primary text-white" [(ngModel)]="ArtigoOBJ.nrArtigo" [ngModelOptions]="{standalone: true}" id="nrArtigo" name="nrArtigo" type="text" placeholder="Número do Artigo" required selected value="0">
                        <label for="nrArtigo">Número do Artigo</label>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-info text-white bg-warning" (click)="getTabela()"><i class="bi bi-search"></i> Filtrar</a>
                    </div>
                </form>               
            </div>
        </div>
        <br>
        <table id="tabela" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id Código</th>
                    <th>Número do Artigo</th>
                    <th>Nome do Artigo</th>
                    <th>Dias</th>
                    <th>Meses</th>
                    <th>Anos</th>
                    <th>Férias</th>
                    <th>Dias não úteis</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let artigo of artigo">
                    <th scope="row">{{artigo.idCodigo}}</th>
                    <td>{{artigo.nrArtigo}}</td>
                    <td>{{artigo.nome}}</td>
                    <td>{{artigo.dias}}</td>
                    <td>{{artigo.meses}}</td>
                    <td>{{artigo.anos}}</td>
                    <td>{{artigo.ferias}}</td>
                    <td>{{artigo.diasNaoUteis}}</td>
                    <td>
                        <a routerLink="/update-artigo/{{artigo.idUtilizador}}/{{artigo.idCodigo}}/{{artigo.nrArtigo}}" class="edit">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a routerLink="/apagar-artigo/{{artigo.idUtilizador}}/{{artigo.idCodigo}}/{{artigo.nrArtigo}}" class="edit">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
            </tbody>
        </table>
    </div>
</div>