
<nav class="navbar fixed-top navbar-expand-sm navbar-ligth bg-light barraTarefas">
    <ul class="navbar-nav ml-auto corner">

        <li class="nav-item active">
            <a href="#" class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow">
                <i class="bi bi-envelope"></i>
                <span class="badge rounded-pill badge-notification bg-danger">10</span>
            </a>
        </li>
        <li>
            <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                role="button" data-mdb-toggle="dropdown" aria-expanded="false">

                <i class="bi bi-bell"></i>
                <span class="badge rounded-pill badge-notification bg-danger">1</span>
            </a>
        </li>

        <!-- Avatar -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" routerLink="/"
                id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="22"
                    alt="Avatar" loading="lazy" />
            </a>
        </li>

        <li>
            <div class="col-8">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownM"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Mais
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownM">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Eliminar Conta</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</nav>

<div class="menu sidebar">
    <a routerLink="/">
        <img src="./assets/img/logotipo.png" width="80">
    </a>
    <span class="juriTechTilte">JuriTech</span>

    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link active">
                        <i class="fa fa-balance-scale fa-fw me-3"></i>
                        <span>Resumo</span></a>
                </li>
                <li class="nav-item">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link mt-2">
                        <i class="fa fa-object-group fa-fw me-3">
                        </i>
                        <span>Gerir</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="/" class="nav-link">
                        <i class="fa fa-calendar fa-fw me-3"></i><span>Documentos</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="/" class="nav-link">
                        <i class="fa fa-calendar fa-fw me-3"></i><span>Calendário</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
s