<div class="divider">
    <app-sidebar></app-sidebar>
    <div class="container border px-5 my-5 bg-dark bg-gradient">
        <br>
        <h1 class="text-info">Criar Tema</h1>
        <form class="my-5">
            <div class="form-floating mb-3">
                <input class="form-control" id="nome" type="text" placeholder="Nome do Tema" [(ngModel)]="TemaOBJ.nome" [ngModelOptions]="{standalone: true}" required>
                <label for="nome">Nome do Tema</label>
            </div>
            <div class="d-grid">
                <br><br>
                <button class="btn bg-success " id="createButton" type="submit" (click) = "postTema()">Criar</button>
                <br>
                <button class="btn bg-danger" id="cancelButton" (click) = "cancel()">Cancelar</button>
            </div>
        </form>
    </div> 
</div>